@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  padding: 10px 0;
  background-color: #3f3f3f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.profilePicture {
  width: 48px;
  height: 48px;
  padding: 1px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postCard {
  border: 1px solid #00000F;
  margin-bottom: 2%;
  padding: 10px;
  height: auto;
  align-items: center;
  background-color: #3f3f3f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postContainer {
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postformcontainer {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background: #3f3f3f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
}

.postText {
  display: block;
  flex-basis: 100%;
}

.postForm input {
  width: 500px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  color: white;
  background: #282828;
  margin-top: 3px;
}

.loginForm input {
  color: white;
}

.profileName {
  font-weight: bold;
  font-size: 16px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 5px;
}

.divider {
  background-color: black;
}

.postContent {
  text-align: left;
  padding-top: 5px;
  min-height: 100px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #121212;
}

input {
  background-color: #3f3f3f;
}


.postFooter input {
  border-radius: 10px;
  width: 300px;
  margin-left: 30px;
}

.postFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin: 10px;
}

.postContent img {
  width: 512px;
  height: 512px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;
  margin-top: 80px;
}


.leftColumn {
  width: 250px;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
}

.centerColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.rightColumn {
  width: 250px;
}

.signupform {
  margin-top: 20px;
}

.friendContainer {
  border: 1px solid white;
  align-items: center;
  flex: auto;
  justify-content: flex-start;
  gap: 10px;
  width: 250px;
  min-height: 200px;
  margin: 10px;
  margin-top: 50px;
}

strong {
  align-content: center;
  vertical-align: middle;
  line-height: 1;
}

.friendCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.profileInfo {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
}

.profilePictureOnProfile {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin-right: 20px;
}

.usernameOnProfile {
  font-size: 2.2rem;
  font-weight: bold;
}

hr {
  color: white;
}

.postHeader :hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.addFriendButton {
  margin-left: 20px;
  cursor: pointer;
}

.biographyInfo {
  margin-top: 230px;
}